body {
  background: green;
}
.download-pdf {
  visibility: hidden;
}
.username {
  font-size: 21px;
}
.contacts__phone {
  font-size: 14px;
}
.contacts__mail {
  font-size: 14px;
}
.avatar {
  width: 107px;
  height: 118px;
}
.info__title {
  font-size: 16px;
}
.tech__title {
  font-size: 14px;
}
.desc__title {
  font-size: 21px;
}
.tech__sub-item {
  font-size: 12px;
}
.desc__text {
  font-size: 12px;
}