:root {
  --titlesFont: 'Montserrat', 'Arial', sans-serif;
  --ginger: #FF9900;
  --gray: #4F4F4F;
  --background: #E5E5E5;
  --menu: #2E2E2E;
  --white: white;
}
html, body{
  height: 100%;
}
body {
  font-family: var(--titlesFont);
  font-size: 18px;
  line-height: 27px; 
  background: var(--background);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100%;
}
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.header {
  background: var(--menu);
  
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 61px;
}
.download-pdf__link {
  font-size: 21px;
  color: var(--ginger);
}
.download-pdf__link:hover {
  text-decoration: none;
}
.download-pdf__link:hover .download-pdf__text {
  text-decoration: underline;
}
.download-pdf__text {
  margin-left: 6px;
}


.username {
  font-size: 36px;
  color: var(--white);
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contacts__phone {
  font-size: 21px;
  color: var(--white);
}
.contacts__mail {
  font-size: 18px;
  color: var(--ginger);
}


.info {
  display: flex;
}
.info__skills {
  margin-bottom: 67px;
}
.info__left {
  margin-right: 45px;
}
.info__right {
  margin-top: 23px;
}
img {
  display: block;
  max-width: 100%;
}
.avatar {
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  height: 554px;
}
.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__title {
  font-size: 36px;
  margin-bottom: 57px;
}
.tech__sub-item {
  font-size: 16px;
  position: relative;
  margin-left: 15px;
}
.tech__sub-item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--ginger);
}
.tech__title {
  font-size: 24px;
  margin-bottom: 6px;
}
.tech__sub-list {
  
  margin-bottom: 31px;

}

/* desc */
.desc__container {
  margin-bottom: 12px;
}
.desc__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.desc__item {
  width: calc(100%/2 - (34px/2));
  
  margin-bottom: 49px;

  
}
.desc__title {
  margin-bottom: 28px;
}
/* footer */
.footer {
  background: var(--menu);
  
}
.footer__container {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
.download-pdf__footer {
  margin-top: 7px;
}
.icons__list {

  display: flex;
  
}

.icons__link {
  display: flex;
  width: 38px;
  height: 38px;
  background: white;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  
}
.icons__link:hover {
  opacity: 0.8;
  text-decoration: none;
}